/* --------------------------------- */
/*  v-css                            */
/*  Row system                       */
/*  Width in 5 stages, xs through xl */
/*  Grid in 20 stages, 1 through 20  */
/* --------------------------------- */

.v-row {
    display: inline-block;
    width: 100%
}

@media only screen and (max-width:600px) {
    .v-row .v-col.xs1 {
        width: 5%;
        float: left
    }

    .v-row .v-col.xs2 {
        width: 10%;
        float: left
    }

    .v-row .v-col.xs3 {
        width: 15%;
        float: left
    }

    .v-row .v-col.xs4 {
        width: 20%;
        float: left
    }

    .v-row .v-col.xs5 {
        width: 25%;
        float: left
    }

    .v-row .v-col.xs6 {
        width: 30%;
        float: left
    }

    .v-row .v-col.xs7 {
        width: 35%;
        float: left
    }

    .v-row .v-col.xs8 {
        width: 40%;
        float: left
    }

    .v-row .v-col.xs9 {
        width: 45%;
        float: left
    }

    .v-row .v-col.xs10 {
        width: 50%;
        float: left
    }

    .v-row .v-col.xs11 {
        width: 55%;
        float: left
    }

    .v-row .v-col.xs12 {
        width: 60%;
        float: left
    }

    .v-row .v-col.xs13 {
        width: 65%;
        float: left
    }

    .v-row .v-col.xs14 {
        width: 70%;
        float: left
    }

    .v-row .v-col.xs15 {
        width: 75%;
        float: left
    }

    .v-row .v-col.xs16 {
        width: 80%;
        float: left
    }

    .v-row .v-col.xs17 {
        width: 85%;
        float: left
    }

    .v-row .v-col.xs18 {
        width: 90%;
        float: left
    }

    .v-row .v-col.xs19 {
        width: 95%;
        float: left
    }

    .v-row .v-col.xs20 {
        width: 100%;
        float: left
    }
}

@media only screen and (min-width:600px) {
    .v-row .v-col.s1 {
        width: 5%;
        float: left
    }

    .v-row .v-col.s2 {
        width: 10%;
        float: left
    }

    .v-row .v-col.s3 {
        width: 15%;
        float: left
    }

    .v-row .v-col.s4 {
        width: 20%;
        float: left
    }

    .v-row .v-col.s5 {
        width: 25%;
        float: left
    }

    .v-row .v-col.s6 {
        width: 30%;
        float: left
    }

    .v-row .v-col.s7 {
        width: 35%;
        float: left
    }

    .v-row .v-col.s8 {
        width: 40%;
        float: left
    }

    .v-row .v-col.s9 {
        width: 45%;
        float: left
    }

    .v-row .v-col.s10 {
        width: 50%;
        float: left
    }

    .v-row .v-col.s11 {
        width: 55%;
        float: left
    }

    .v-row .v-col.s12 {
        width: 60%;
        float: left
    }

    .v-row .v-col.s13 {
        width: 65%;
        float: left
    }

    .v-row .v-col.s14 {
        width: 70%;
        float: left
    }

    .v-row .v-col.s15 {
        width: 75%;
        float: left
    }

    .v-row .v-col.s16 {
        width: 80%;
        float: left
    }

    .v-row .v-col.s17 {
        width: 85%;
        float: left
    }

    .v-row .v-col.s18 {
        width: 90%;
        float: left
    }

    .v-row .v-col.s19 {
        width: 95%;
        float: left
    }

    .v-row .v-col.s20 {
        width: 100%;
        float: left
    }
}

@media only screen and (min-width:768px) {
    .v-row .v-col.m1 {
        width: 5%;
        float: left
    }

    .v-row .v-col.m2 {
        width: 10%;
        float: left
    }

    .v-row .v-col.m3 {
        width: 15%;
        float: left
    }

    .v-row .v-col.m4 {
        width: 20%;
        float: left
    }

    .v-row .v-col.m5 {
        width: 25%;
        float: left
    }

    .v-row .v-col.m6 {
        width: 30%;
        float: left
    }

    .v-row .v-col.m7 {
        width: 35%;
        float: left
    }

    .v-row .v-col.m8 {
        width: 40%;
        float: left
    }

    .v-row .v-col.m9 {
        width: 45%;
        float: left
    }

    .v-row .v-col.m10 {
        width: 50%;
        float: left
    }

    .v-row .v-col.m11 {
        width: 55%;
        float: left
    }

    .v-row .v-col.m12 {
        width: 60%;
        float: left
    }

    .v-row .v-col.m13 {
        width: 65%;
        float: left
    }

    .v-row .v-col.m14 {
        width: 70%;
        float: left
    }

    .v-row .v-col.m15 {
        width: 75%;
        float: left
    }

    .v-row .v-col.m16 {
        width: 80%;
        float: left
    }

    .v-row .v-col.m17 {
        width: 85%;
        float: left
    }

    .v-row .v-col.m18 {
        width: 90%;
        float: left
    }

    .v-row .v-col.m19 {
        width: 95%;
        float: left
    }

    .v-row .v-col.m20 {
        width: 100%;
        float: left
    }
}

@media only screen and (min-width:992px) {
    .v-row .v-col.l1 {
        width: 5%;
        float: left
    }

    .v-row .v-col.l2 {
        width: 10%;
        float: left
    }

    .v-row .v-col.l3 {
        width: 15%;
        float: left
    }

    .v-row .v-col.l4 {
        width: 20%;
        float: left
    }

    .v-row .v-col.l5 {
        width: 25%;
        float: left
    }

    .v-row .v-col.l6 {
        width: 30%;
        float: left
    }

    .v-row .v-col.l7 {
        width: 35%;
        float: left
    }

    .v-row .v-col.l8 {
        width: 40%;
        float: left
    }

    .v-row .v-col.l9 {
        width: 45%;
        float: left
    }

    .v-row .v-col.l10 {
        width: 50%;
        float: left
    }

    .v-row .v-col.l11 {
        width: 55%;
        float: left
    }

    .v-row .v-col.l12 {
        width: 60%;
        float: left
    }

    .v-row .v-col.l13 {
        width: 65%;
        float: left
    }

    .v-row .v-col.l14 {
        width: 70%;
        float: left
    }

    .v-row .v-col.l15 {
        width: 75%;
        float: left
    }

    .v-row .v-col.l16 {
        width: 80%;
        float: left
    }

    .v-row .v-col.l17 {
        width: 85%;
        float: left
    }

    .v-row .v-col.l18 {
        width: 90%;
        float: left
    }

    .v-row .v-col.l19 {
        width: 95%;
        float: left
    }

    .v-row .v-col.l20 {
        width: 100%;
        float: left
    }
}

@media only screen and (min-width:1200px) {
    .v-row .v-col.xl1 {
        width: 5%;
        float: left
    }

    .v-row .v-col.xl2 {
        width: 10%;
        float: left
    }

    .v-row .v-col.xl3 {
        width: 15%;
        float: left
    }

    .v-row .v-col.xl4 {
        width: 20%;
        float: left
    }

    .v-row .v-col.xl5 {
        width: 25%;
        float: left
    }

    .v-row .v-col.xl6 {
        width: 30%;
        float: left
    }

    .v-row .v-col.xl7 {
        width: 35%;
        float: left
    }

    .v-row .v-col.xl8 {
        width: 40%;
        float: left
    }

    .v-row .v-col.xl9 {
        width: 45%;
        float: left
    }

    .v-row .v-col.xl10 {
        width: 50%;
        float: left
    }

    .v-row .v-col.xl11 {
        width: 55%;
        float: left
    }

    .v-row .v-col.xl12 {
        width: 60%;
        float: left
    }

    .v-row .v-col.xl13 {
        width: 65%;
        float: left
    }

    .v-row .v-col.xl14 {
        width: 70%;
        float: left
    }

    .v-row .v-col.xl15 {
        width: 75%;
        float: left
    }

    .v-row .v-col.xl16 {
        width: 80%;
        float: left
    }

    .v-row .v-col.xl17 {
        width: 85%;
        float: left
    }

    .v-row .v-col.xl18 {
        width: 90%;
        float: left
    }

    .v-row .v-col.xl19 {
        width: 95%;
        float: left
    }

    .v-row .v-col.xl20 {
        width: 100%;
        float: left
    }
}